.d-none {
    display: none !important
}

.d-inline {
    display: inline !important
}

.d-inline-block {
    display: inline-block !important
}

.d-block {
    display: block !important
}

/*  datatables  */
#datatable_wrapper .dataTables_scrollHead table{
    padding: 0;
    color: #ffffff;
    background-color: #1C3FAA;
}

.table-striped tbody tr:nth-of-type(even) {
    background-color: #e2e8f0;
}

.dataTables_wrapper select,
.dataTables_wrapper .dataTables_filter input {
    color: #4a5568;
    padding: .5rem 1rem;
    line-height: 1.25;
    border-width: 2px;
    border-radius: .25rem;
    border-color: #edf2f7;
    background-color: #edf2f7;
}

table.dataTable.hover tbody tr:hover, table.dataTable.display tbody tr:hover {
    background-color: #ebf4ff;
}

table.dataTable.no-footer {
    border-bottom: 1px solid #e2e8f0;
    margin-top: 0.75em;
    margin-bottom: 0.75em;
}

table.dataTable.dtr-inline.collapsed > tbody > tr > td:first-child:before, table.dataTable.dtr-inline.collapsed > tbody > tr > th:first-child:before {
    background-color: #667eea !important;
}

/*datatable paginate*/
#datatable_wrapper .dataTables_paginate {
    margin-top: 28px;
    margin-bottom: 15px;
}

#datatable_wrapper .dataTables_paginate .paginate_button {
    font-weight: 700;
    border-radius: .25rem;
    margin-left: 0.25rem;
    padding: 4px 9px;
    border-width: 1px;
}

#datatable_wrapper .dataTables_paginate .paginate_button.current {
    color: #ffffff;
    background-color: rgba(28, 63, 170, 1);
    border-radius: 0.375rem;
    cursor: pointer;
}

#datatable_wrapper .dataTables_paginate .paginate_button:hover {
    color: #fff !important;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .1), 0 1px 2px 0 rgba(0, 0, 0, .06);
    font-weight: 700;
    border-radius: .25rem;
    background: #667eea !important;
    border: 1px solid transparent;
}

/* end datatable paginate*/

#datatable_wrapper .table_info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

div.dataTables_wrapper div.dataTables_processing {
    z-index: 100;
    background: #102e8a3b;
    border-radius: 0.375rem;
}

/*  end datatables  */

button:disabled {
    opacity: 0.8;
}
